src/main/mule/customer-papi-raml.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
   <flow name="customer-papi-raml-main">
        <http:listener config-ref="customer-papi-raml-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-papi-raml-config" />
        <error-handler ref="global-errorError-handler-apikit">
            
        </error-handler>
    </flow>
    <flow name="customer-papi-raml-console">
        <http:listener config-ref="customer-papi-raml-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customer-papi-raml-config" />
        <error-handler ref="global-errorError-handler-apikit">
           
        </error-handler>
    </flow>
    <flow name="post:\customers:application\json:customer-papi-raml-config">
		<flow-ref doc:name="Flow Reference Inisialize Request Data" doc:id="e1ec43f8-0e51-4720-a548-a9670aad92be" name="initialize-request-data-subFlow"/>
		<flow-ref doc:name="Flow Reference get-customer-implementationFlow" doc:id="5271ceb1-169a-4b02-9bce-5e2a6f2a7a3a" name="post-customer-implementationFlow"/>
		<error-handler ref="global-errorError-handler-app" />
    </flow>
</mule>
