customer-papi-app-v1.0-master/src/main/mule/Implementation/data-sync.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<!-- <jms:config name="JMS_Config" doc:name="JMS Config" doc:id="379f6c29-d96f-4302-b27c-78be336f780c" >
		<jms:active-mq-connection username="admin" password="admin">
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config> -->
	
	<!-- <flow name="data-sync-schedularFlow" doc:id="73a15465-82a2-4a4a-9dea-143396dfe7c6" >
		<scheduler doc:name="Scheduler" doc:id="f63cdd04-f11d-4932-aa21-c7edfe540521" >
			<scheduling-strategy >
				<cron expression="${cron.freq}"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="data-syncFlow" doc:id="cb71841d-7e96-4a5f-b0e0-cc21a5c2163e" name="data-syncFlow"/>
		<error-handler ref="global-errorError_Handler" />
	</flow> -->
	<flow name="batch_job" doc:id="ea7ef845-4caa-4c57-88b8-586f4075f938" >
		<batch:job jobName="data-syncBatch_Job" doc:id="40b77caf-29b6-4e12-ac32-1508a8233719">
			<batch:process-records>
				<batch:step name="Batch_Step" doc:id="79f1dbde-e9ed-4a67-bef9-48c87a55662b">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="09702bc3-2915-4826-8799-91687bbe8827" size="100">
						<logger level="INFO" doc:name="Start" doc:id="8514b3a1-cfd4-4a40-9650-cc690109761b" message='START #[flow.name] Calling "Patch SFDC Customer" -- #[now()]' />
						<ee:transform doc:name="Request Payload" doc:id="dd8b0980-96db-434a-9399-a4f1f5dccf74">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (read($,"application/json"))]]></ee:set-payload>
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="retry" ><![CDATA[%dw 2.0
output application/json
---
payload.retry default null]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<http:request method="patch" doc:name="Call System API Patch SFDC Customer" doc:id="514c7ba9-f74e-4f8d-9150-91a37c70bf3f" config-ref="HTTP_Request_configuration" path="${sapi.path.customers}" outputMimeType="application/json" />
						<logger level="INFO" doc:name="End" doc:id="5702191a-24f4-4d43-b8b2-0bcaa6206c7b" message='END  "Patch SFDC Customer"  Call -- #[now()]' />
					</batch:aggregator>
				</batch:step>
				<!-- <batch:step name="Batch_Step1" doc:id="5533f415-ea94-4d30-88d6-e755465b69a9" acceptPolicy="ONLY_FAILURES">
					<choice doc:name="Choice" doc:id="b849b1a3-b9a5-490c-af4f-e926df315ef2" >
						<when expression="#[vars.retry != null]">
							<ee:transform doc:name="retry payload" doc:id="fe224cc5-dfd8-4219-afc4-3a643ada19c2" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{
"data": payload,
"retry": vars.retry as Number -1
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<vm:publish queueName="failed_records_data" doc:name="publish to error queue" doc:id="2ce9bebd-4d3a-448b-b821-5d07b21df0cc" config-ref="VM_Configdata" />
						</when>
						<when expression="#[vars.retry == 0]">
							<logger level="INFO" doc:name="Logger" doc:id="a78d18df-10e1-46c2-ac7a-b2d777e00aba" message="Retry Limit Reached!!!"/>
							
						</when>
						<otherwise >
							<ee:transform doc:name="Payload for error" doc:id="cac29528-24b5-4948-a48e-60c0538d4db6">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{
"data": payload,
"retry": 4
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
							<vm:publish doc:name="publish to error queue" doc:id="ec6b9588-510d-45fd-a225-671adea90e16" config-ref="VM_Configdata" queueName="failed_records_data" />
						</otherwise>
					</choice>
				</batch:step> -->
			</batch:process-records>
			<batch:on-complete >
				<email:send doc:name="Send Email to customer" doc:id="8fde922f-794a-4763-8b07-05c2d3256687" config-ref="Email_SMTP" fromAddress= "lmsmulesoft@gmail.com">
<email:to-addresses >
<email:to-address value="lmsmulesoft@gmail.com" />
</email:to-addresses>
</email:send>
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="data-sync-schedularFlow" doc:id="f206855c-cb40-4374-9cfc-517cc2ec0b77" >
		<scheduler doc:name="Scheduler" doc:id="b0f2dcdf-ef6e-49d0-a73b-3997bcb63abd" >
			<scheduling-strategy >
				<cron expression="${cron.freq}" />
			</scheduling-strategy>
		</scheduler>
		<try doc:name="Try" doc:id="554e9847-1b6d-4b46-a952-250815091b9d" >
			<os:retrieve doc:name="Retrieve lastModified Time" doc:id="1db796e4-5a68-4810-b2dd-5883d3685fb9" key="lastModifiedTime" objectStore="Object_store" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5f46369c-e8ff-4308-8ba5-8045eeec1e4a" >
					<set-variable value="#[(now() - |P1D|) as String {format : &quot;yyyy-MM-dd'T'HH:mm:ss&quot;}]" doc:name="Set Variable" doc:id="1b0f23e2-17b8-4825-91a6-34a440bab691" variableName="lastModifiedDateTime"/>
				</on-error-continue>
			</error-handler>
		</try>
		<flow-ref doc:name="data-syncFlow" doc:id="47b7f90f-100c-416f-8b5d-c926387ab4cf" name="data-syncFlow"/>
		<error-handler ref="global-errorError_Handler" />
	</flow>
	<flow name="data-syncFlow" doc:id="5991d508-2bc8-474b-bb01-51b0f6deb69d" >
		<logger level="INFO" doc:name="Start" doc:id="d2e53b32-0cc3-4af9-b7a9-d0a75d49f230" message='START #[flow.name] Calling "GET DB Customer" -- #[now()]' />
		<http:request method="GET" doc:name="Call System API Get DB Customer" doc:id="922d6e35-8bda-4a0c-b9d1-8e46bd78f790" config-ref="HTTP_Request_configuration" path="${sapi.path.customers}">
			<http:query-params><![CDATA[#[output application/java
import * from dw::core::Periods
---
{
	"lastModifiedDateTime": vars.lastModifiedDateTime ,
	
	"status": payload.status default "false"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="End" doc:id="6b655b1e-a508-41e7-b6d5-3fdda8b35e5f" message='END Calling "GET DB Customer" -- #[now()]' />
		<ee:transform doc:name="sfdc request" doc:id="c4af4dd4-0985-4ce5-88c4-bf9526f6406f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
  "phoneNumber": $.phone as String,
  "name": $.Name,
  "email": $.email,
  "customer_ID": $.customerId,
  "registrationDate": ($.registrationDateTime splitBy "T")[0],
  "gender": $.gender,
  "status": $.status,
  "address": $.address,
  "dateOfBirth": $.dob
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<flow-ref doc:name="Flow Reference" doc:id="8698151a-8571-4208-8a9e-9ea4711ea38e" name="batch_job" />
		<os:store doc:name="Store" doc:id="9b7a3cc7-7833-4125-bc14-4c54191a8e69" key="lastModifiedTime">
			<os:value ><![CDATA[#[now() as String {format : "dd-MM-yyyy'T'HH:mm:ss"}]]]></os:value>
		</os:store>
		<ee:transform doc:name="Response Payload" doc:id="7d60a95a-8712-4abe-b417-d62c1a5b0123" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "msg": "successful operation",
  "code": 200,
  "success": true,
  "eventId": vars.headers.transactionId,
  "payload": {
    "success": true
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
