customer-papi-app-v1.0-master/src/main/mule/Implementation/status-sync.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

	
	<flow name="status-sync-schedularFlow" doc:id="327f4964-4aa5-4f5e-8d5d-9d4e31193bc2" >
		<scheduler doc:name="Scheduler" doc:id="ba638fb1-771a-4af6-91bf-1f3716410425" >
			<scheduling-strategy >
				<cron expression="${cron.freq}" />
			</scheduling-strategy>
		</scheduler>
		<try doc:name="Try" doc:id="2265aa16-e468-42ab-bc5c-71e9e8ad4190" >
			<os:retrieve doc:name="Retrieve lastModified Time" doc:id="63b7791a-4c63-47c2-8964-2d7b8b9f2fcb" key="lastModifiedTime" objectStore="Object_store" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="38cae7c1-1366-45db-bb7a-957fbbc9b84a" >
					<set-variable value="#[(now() - |P1D|) as String {format : &quot;yyyy-MM-dd'T'HH:mm:ss&quot;}]" doc:name="Set Variable" doc:id="50d03042-5375-45fb-aa61-a93768c8b2cd" variableName="lastModifiedDateTime"/>
				</on-error-continue>
			</error-handler>
		</try>
		<flow-ref doc:name="status-syncFlow" doc:id="08820285-950d-4b34-b445-7ff484317ec3" name="status-syncFlow"/>
		<error-handler ref="global-errorError_Handler" />
	</flow>
	<flow name="status-syncFlow" doc:id="e72e1ce5-955d-455f-b39e-03cef5bb823d" >
		<logger level="INFO" doc:name="Start" doc:id="9d0688bb-d523-46d6-8756-f6e42dc2be50" message='START #[flow.name] Calling "GET SFDC Status" -- #[now()]'/>
		<http:request method="GET" doc:name="Call System API Get SFDC Customer Status" doc:id="36795e03-5590-4840-bef4-e31c7332fd5a" config-ref="HTTP_Request_configuration" path="${sapi.path.customerStatus}">
			<http:query-params ><![CDATA[#[output application/java
import * from dw::core::Periods
---
{
	"lastModifiedDateTime": vars.lastModifiedDateTime
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="End" doc:id="a65749a6-769a-495d-9689-7a2d63a6ef75" message='END  "GET SFDC Customer Status"  Call -- #[now()]'/>
		<ee:transform doc:name="DB Request" doc:id="71d754ae-679f-4f10-bf97-80dd5ce5de22">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
  "customer_ID": $.'customerId__c',
  "status": "true"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="02b03d8a-35fd-4e58-b981-368287b680b8" name="batchJob" />
		<os:store doc:name="Store" doc:id="9bd4935c-f9c0-4daa-885c-d3462ac1ffa4" key="lastModifiedTime">
			<os:value ><![CDATA[#[now() as String {format : "dd-MM-yyyy'T'HH:mm:ss"}]]]></os:value>
		</os:store>
		<ee:transform doc:name="Response Payload" doc:id="872cd53a-831d-45d6-8e94-7809740bc524" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "msg": "successful operation",
  "code": 200,
  "success": true,
  "eventId": vars.headers.transactionId ,
  "payload": {
    "message": "Operation done"
  }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="batchJob" doc:id="9e8b7ba9-4e14-469b-a5b8-3817fb627728" >
		<batch:job jobName="status-syncFlowBatch_Job" doc:id="b7b228e0-6132-405d-b4e2-d03be0880434">
			<batch:process-records>
				<batch:step name="Batch_Step" doc:id="08e795c1-6bf6-4c73-b806-f7b10e339314">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="6539301c-08f3-417c-9369-8e08177647e7" size="100">
						<logger level="INFO" doc:name="Start" doc:id="f706c134-d5f3-40e3-acda-efeb6c998bc9" message='START  Calling "Patch DB Customer Status" -- #[now()]' />
						<ee:transform doc:name="Request Payload" doc:id="a592c92d-7462-4064-b9f5-5494045311cf">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (read($,"application/json"))]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<http:request method="PATCH" doc:name="Call System API Patch DB Customer Status" doc:id="af12eeda-9547-489c-bb74-e07eae056ff6" config-ref="HTTP_Request_configuration" path="${sapi.path.customerStatus}" outputMimeType="application/json" />
						<logger level="INFO" doc:name="End" doc:id="e93acc57-b840-4789-9ae1-8353676caa84" message='END  "Patch DB Customer Status"  Call -- #[now()]' />
					
</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="1efaae71-8ee2-42ff-96f6-8752695dc45d" acceptPolicy="ONLY_FAILURES">
					<vm:publish doc:name="Publish" doc:id="a01ed1fa-c9fa-4c6f-ad90-c86b6cae91c2" config-ref="VM_Configstatus" queueName="failed_records"/>
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
	<flow name="status-syncFlow1" doc:id="6ac9bf9e-8caf-4245-9575-ec2fc0e2a376" >
		<vm:consume queueName="failed_records" doc:name="Consume" doc:id="a65a1b4d-bc79-4ae7-8efc-86334d90bcc9" config-ref="VM_Configstatus" timeout="20"/>
		<flow-ref doc:name="Flow Reference" doc:id="087c179e-558f-4a3b-b436-a1198f0d9fab" name="batchJob"/>
	</flow>
</mule>
